<div class="log-w3">
	<div class="w3layouts-main">
		<h2>Admin Sign In Page</h2>
		<form action="/admin/adminSubmit" id="form" method="POST">
			<input type="email" class="ggg" name="mail" placeholder="E-MAIL">
			<input type="password" class="ggg" name="pass" placeholder="PASSWORD">
			<input type="submit" name="adminSubmit">
		</form>
	</div>
</div>
<!-- footer -->
<div class="footer">
	<div>
		<h4 class="designed">Designed by SHINU VARGHESE</h4>
	</div>
</div>
<!-- / footer -->