
<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">
    <a href="/" class="logo">
        JOMONS
    </a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div> 
    </div> 
</div>
<!--logo end-->
<div class="home_title">
    <p>HomePage </p>
</div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="sub-menu">
					
                    <a href="/signUp"><i class="fa fa fa-file-text-o"></i>SignUp</a>
                </li>
				<li class="sub-menu">
					
                    <a href="/login"><i class="fa fa-sign-in"></i>Login</a>
                </li>

            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<section id="main-content">
	<section class="wrapper">
        		<!-- //market-->
				<h1 class="home_head">Colours</h1>
		<div class="market-updates">
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-1">
					<div class="col-md-4 market-update-right">
					</div>
					<div class="col-md-8 market-update-left">
					<h4> </h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-2">
					<div class="col-md-4 market-update-right">
					</div>
					 <div class="col-md-8 market-update-left">
					 <h4> </h4>
				  </div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-3">
					<div class="col-md-4 market-update-right">
					</div>
					<div class="col-md-8 market-update-left">
						<h4></h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-4">
					<div class="col-md-4 market-update-right">
					</div>
					<div class="col-md-8 market-update-left">
						<h4> </h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
		   <div class="clearfix"> </div>
		</div>
		<div class="market-updates">
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-5">
					<div class="col-md-4 market-update-right">
					</div>
					<div class="col-md-8 market-update-left">
					<h4> </h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-6">
					<div class="col-md-4 market-update-right">
					</div>
					 <div class="col-md-8 market-update-left">
					 <h4> </h4>
				  </div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-7">
					<div class="col-md-4 market-update-right">
					</div>
					<div class="col-md-8 market-update-left">
						<h4></h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-8">
					<div class="col-md-4 market-update-right">
					</div>
					<div class="col-md-8 market-update-left">
						<h4> </h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
		   <div class="clearfix"> </div>
		</div>
		<div class="market-updates">
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-9">
					<div class="col-md-4 market-update-right">
					</div>
					<div class="col-md-8 market-update-left">
					<h4> </h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-10">
					<div class="col-md-4 market-update-right">
					</div>
					 <div class="col-md-8 market-update-left">
					 <h4> </h4>
				  </div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-11">
					<div class="col-md-4 market-update-right">
					</div>
					<div class="col-md-8 market-update-left">
						<h4></h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-12">
					<div class="col-md-4 market-update-right">
					</div>
					<div class="col-md-8 market-update-left">
						<h4> </h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
		   <div class="clearfix"> </div>
		</div>
		<div class="market-updates">
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-13">
					<div class="col-md-4 market-update-right">
					</div>
					<div class="col-md-8 market-update-left">
					<h4> </h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-14">
					<div class="col-md-4 market-update-right">
					</div>
					 <div class="col-md-8 market-update-left">
					 <h4> </h4>
				  </div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-15">
					<div class="col-md-4 market-update-right">
					</div>
					<div class="col-md-8 market-update-left">
						<h4> </h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-16">
					<div class="col-md-4 market-update-right">
					</div>
					<div class="col-md-8 market-update-left">
						<h4> </h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
		   <div class="clearfix"> </div>
		</div>	
		<!-- //market-->
</section>
<!-- footer -->
		 <div class="footer">
		   <div>
			 <h4 class="designed">Designed by SHINU VARGHESE</h4>
		   </div>
		 </div>
 <!-- / footer -->
</section>
<!--sidebar end-->
</section>

