<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <link rel='stylesheet' href='/stylesheets/font.css' />
    <link rel='stylesheet' href='/stylesheets/jqvmap.css' />
    <link rel='stylesheet' href='/stylesheets/lightbox.css' />
    <link rel='stylesheet' href='/stylesheets/minimal.css' />
    <link rel='stylesheet' href='/stylesheets/monthly.css' />
    <link rel='stylesheet' href='/stylesheets/morris.css' />
    <link rel='stylesheet' href='/stylesheets/style.-responsivecss' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    

    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
     {{{body}}}

  <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> 
   <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script> 
    <script src='javascripts/validation.js'></script>

        <script src='javascripts/bootstrap.js'></script>
        <script src='javascripts/jquery.dcjqaccordion.2.7.js'></script>
        <script src='javascripts/jquery.nicescroll.js'></script>
        <script src='javascripts/jquery.scrollTo.js'></script>
        <script src='javascripts/scripts.js'></script>
        
  </body>
</html>
