
<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">

    <a href="/" class="logo">
        JOMONS
    </a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
</div>

</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
       <!-- sidebar menu start-->
       <div class="leftside-navigation">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a class="active" href="/">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>

        </ul>            </div>
    <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<!-- page start-->
		<div class="mail-w3agile">
        <div class="row">
            <div class="col-sm-9 mail-w3agile">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                       <h4 class="gen-case"> Compose Mail</h4>
                    </header>
                    <div class="panel-body">
                        <div >
                            <form role="form-horizontal" id="form" method="post">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" tabindex="1" id="name" name="name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="text" tabindex="1" id="mail" name="mail" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" tabindex="1" id="number" name="mobile" class="form-control">
                                </div>

                                <div class="compose-editor">
                                    <label>Message</label>
                                    <textarea class="wysihtml5 form-control" id="content" name="content" rows="9"></textarea>
                                </div>
                                <div class="compose-btn">
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-check"></i> Send</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- page end-->
		 </div>
</section>
 <!-- footer -->
		  <div class="footer">
			<div>
			  <h4 class="designed">Designed by SHINU VARGHESE</h4>
			</div>
		  </div>
  <!-- / footer -->
</section>

<!--main content end-->
</section>