<head>
</head>
<body>
<div class="reg-w3">
<div class="w3layouts-main">
	<h2>Register New user </h2>
		<form id="form" action="submitNew" method="post">
			<input type="text" class="ggg" name="name" id="name" placeholder="NAME" >
			<input type="text" class="ggg" name="mail" id="mail"  placeholder="E-MAIL" >
			<input type="text" class="ggg" name="mobile" id="mobile" placeholder="PHONE" >
			
				<div class="clearfix"></div>
				<input type="submit" name="newsubmit">
		</form>
</div>
</div>
 <!-- footer -->
 <div class="footer">
    <div>
      <h4 class="designed">Designed by SHINU VARGHESE</h4>
    </div>
  </div>
<!-- / footer -->
