
<div class="reg-w3">
<div class="w3layouts-main">
	<h2>Register Now</h2>
		<form id="form" action="/submit" method="post">
			<input type="text" class="ggg" name="name" id="name" placeholder="NAME" >
			<input type="text" class="ggg" name="mail" id="mail"  placeholder="E-MAIL" >
			<input type="text" class="ggg" name="mobile" id="mobile" placeholder="PHONE" >
			<input type="password" class="ggg" name="pass" id="pass" placeholder="PASSWORD">
			
				<div class="clearfix"></div>
				<input type="submit">
		</form>
		<p>Already Registered.<a href="login">Login</a></p>
</div>
</div>
 <!-- footer -->
 <div class="footer">
    <div>
      <h4 class="designed">Designed by SHINU VARGHESE</h4>
    </div>
  </div>
<!-- / footer -->

